@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@600&display=swap');
body{
    font-family: 'Poppins', sans-serif;
}
.bg-Color{
    background-color: #E76F51; 
}
.bg-header{
    background-color: #264653;
}
.grayImg{
    filter: grayscale(100%);
}